*{/*selector universal,para todos los elementos del html inicien con un padding y margin 0*/
  margin: 0;
  padding: 0;
}

header{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  top: 0;
  position: fixed;/*mantener fija la poscicion , para que se mantenga vista en el navegador*/
  width: 100%;
  height: 25%;
  background-color: #fff;/*color blanco*/
  
}

figure{
  display: inline-block;

  width:12%;
  height: 60px;
}

.logo{
  display: inline-block;
  width:25%;
  position: relative;
  left: 95px;
  top:10px;
}

.search{
  display: inline-block;
  padding: 0;
  margin-bottom: 10px;
  width: 70%;
  padding: 8px;
  border-radius: 8px;
  background-color: #EFEFEF;
}

.search input {
    background-color: transparent;
    color: initial;
    margin-left: 5px;
    font-size: 17px;
    line-height: 30px;
    width: 83%;
    outline: none;
    border:none;
    display: inline-block;
}

.search .container-iconos{
  display: inline-block;
  font-weight: bold;
}


.icons{
  position: absolute;
  right:3%;
  top:14%;
}

.navegation-bar{
  padding-left:15%;
  padding-right: 15%;
}

.icons li{
  display: inline-block;
  list-style: none;
}




.icons li{
  font-size: 20px;
  color: #C0C1C1;
  padding-left:15px ;
  padding-right: 15px ;

}


nav{
  margin-top:10px;
  width: 100%;
  margin-left:-5%;
}

.navegation-bar{
  width: 80%;

}

.navegation-bar li{
  list-style: none;
  display: inline-block;
  margin:2px;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
}


#link-cheat-shet{
width:100px;
background:#6E6347 ;

}

#link-tutorial{
  width:70px;
  background:#B48C74 ;
}

#link-code{
  width:50px;
  background: #92705A;
}

#link-fun{
  width:30px;
  background:#A87049 ;
}

#link-programing{
  width:100px;
  background:#6A6A1E ;
}

#link-projects{
  width:70px;
  background:#92705A ;
}

#link-posts{
  width:50px;
  background:#7E7C82 ;
}

#link-medium{
  width:70px;
  background:#A87049;
}

#link-videos{
  width:60px;
  background:#E6C4AF ;
}

.navegation-bar li a {
  text-decoration: none;
  color:#fff ;
  font-family: 'Source Sans Pro', sans-serif;
}

section {
  width: 100%;
  margin-top: 230px;
}

.box{
  width: 830px;
  margin:0 auto;
}



.box >img{
  border-radius: 10px;
  display:inline-block;
  width: 200px;
  height: 250px;

}
