*{
  margin: 0;
  padding: 0;
}

header{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 25%;
  background-color: #fff;
}

figure{
  display: inline-block;
  margin: 0;
  padding: 0;
}

.logo{
  display: inline-block;
  width:15% ;
  height: 15%;
  padding-left: 50%;
  padding-right: 12%;
  padding-top: 15px;
}

.search{
  display: inline;
  padding: 0;
  margin:0;
  width: 30%;
}

.icons{
  position: absolute;
  right:7%;
  top:1%;
}

.navegation-bar{
  padding-left:15%;
  padding-right: 15%;
}

.icons li, .navegation-bar li {
  display: inline-block;
  list-style: none;
}


.icons li{
  font-size: 20px;
  color: #C0C1C1;
  padding-left:15px ;
  padding-right: 15px ;

}

.navegation-bar li{
  padding: 20px;
  margin:5px;
  border-radius: 6px;
  text-align: center;
}


#link-cheat-shet{
width:100px;
background:#6E6347 ;

}

#link-tutorial{
  width:70px;
  background:#B48C74 ;
}

#link-code{
  width:50px;
  background: #92705A;
}

#link-fun{
  width:30px;
  background:#A87049 ;
}

#link-programing{
  width:100px;
  background:#6A6A1E ;
}

#link-projects{
  width:70px;
  background:#92705A ;
}

#link-posts{
  width:50px;
  background:#7E7C82 ;
}

#link-medium{
  width:70px;
  background:#A87049;
}

#link-videos{
  width:60px;
  background:#E6C4AF ;
}

.navegation-bar li a {
  text-decoration: none;
  color:#fff ;
  font-family: 'Source Sans Pro', sans-serif;
}

section {
  width: 100%;
  margin-top: 230px;
}

.box{
  width: 830px;
  margin:0;
}

div{
 display: inline-block;
 width: 10%;

}

.box img{
  display:inline-block;
  width: 200px;
  height: 250px;
  border-radius: 10px;
}
